.app {
  justify-content: center;
  text-align: center;
    position: center;
    position: relative;
    height: 50px;
}

.topnav {
  float: none;
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);

    display: none;
    overflow: hidden;
    /* margin-top:30px; */
    /* position: relative; */ 
    /* background-color: black; */
  }
  
  .nav-menu {
    /* justify-self: center; */
    float: center;
    color: white;
    text-align: center;
    padding: 10px 40px;
    width: 17%;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    border: black;
    cursor: pointer;
  }

  .active, .nav-menu:hover {
    /* background-color: red; */
    border: red;
    /* color: white; */
    color: red;
  }
  
  /* button {
    border: black;
    border-width: 2px;
  } */

  .nav-menu{
    /* background-color: #ff6cc6; */
    background-color: black;
    
  }

  ul {
    list-style-type: none; 
    
  }

  li {
    cursor: pointer;
    border-bottom: black;
  }

  li:hover {
    background-color:white;
    color: black;
  }

  div.search-tile {
    justify-content: center;
    color: white;
    background-color: black;
    width: 350px;
    height: 210px;
    overflow: scroll;
  }
