.app {
  justify-content: center;
  text-align: center;
    position: center;
    position: relative;
    height: 50px;
    
}

/* body{
  background-image: url('./frontend/frontend/public/Untitled design (1).png');
} */

/* .topnav {
  float: none;
  position: relative;
 
  left: 50%;
  transform: translate(-50%, -50%);

    display: none;
    overflow: hidden;
    
  }
  
  .nav-menu {
  
    float: center;
    color: black;
    text-align: center;
    padding: 10px 40px;
    width: 17%;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: black;
    cursor: pointer;
  }

  .active, .nav-menu:hover {
   
    border: red;
    
    color: red;
  }
  
  

  .nav-menu{
    
    background-color: transparent;
    
  } */

  ul {
    list-style-type: none; 
    
  }

  li {
    cursor: pointer;
    border-top: rgb(216, 214, 214) solid 1px;
    
  }

  li:hover {
    opacity: 1;
    background-color:  rgb(238, 234, 234);
    color: black;
    
  }

  .sign-up-h2:hover{
    color: red;
    cursor: pointer;
  }

  .sign-up-h2{
    color:black;
    font-weight: lighter;
  }

  div.search-tile {
    justify-content: center;
    color: black;
    background-color: white;
    width: 385px;
    height: 300px;
    overflow: scroll;
    position: relative;
    left:-570px;
    float: right;
    border: red solid 2px;
  }

  .food-form{
    position: relative;
    float: left;
    left:585px;
    border: red solid 2px;
    /* box-shadow: 5px 10px 18px black; */
    width: 25rem;
    height: 20rem;
  }

  .food-log{
    height: 1000;
  }

  progress[value] {
    width: 250px;
    height: 15px;
    -webkit-appearance: none;
   appearance: none;
   
    
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(5, 5, 5, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    /* background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44); */
      background-color: black;
      /* border-radius: 4px;  */
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  

  .card{
    text-align: center;
    border: white solid 2px;
    padding: 1rem;
    width: 50rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    /* box-shadow: 3px 4px black; */
    box-shadow: 5px 10px 18px black;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 17px;
    border-radius: 7px;
    background-color: white;
    
    /* justify-self: center; */
  }
   .card-image{
     /* float: left; */
     /* top:495px;
     position:absolute; */
     border-radius: 7px;
     box-shadow: 5px 10px 8px #888888;
   }

   .progress-bar{
    top:25px;
    position: relative;
    /* float: right; */
    left:90px;
   }

   .image-div{
      float: left;
      position:absolute; 
      /* top:295px; */
      font-weight: bold;
      font-size: 16px;
      right:1100px;
   }

   .calories-div{
    position: relative;
    left:275px;
    font-weight: bold;
    border: white solid 1px;
    width: 25rem;
    height: 8rem;
    text-align: center;
    top:40px;
    /* box-shadow: 3px 4px red; */
    box-shadow: 5px 10px 8px #888888;
    
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
   }

   .profile-card{
    text-align: center;
    border: white solid 2px;
    padding: 1rem;
    width: 50rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    /* box-shadow: 3px 4px black; */
    box-shadow: 5px 10px 18px black;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 17px;
    border-radius: 7px;
    background-color: white;
    
    /* justify-self: center; */
  }

  .profile-image-div{
    float: left;
    position:absolute; 
    top:970%;
    font-weight: bold;
    font-size: 16px;
    right:51%;
 }

 .profile-info-div{
  position: relative;
  left: 50%;
  font-size: 15px;
  border: white solid 1px;
  width: 14rem;
  height: 13rem;
  text-align: center;
  
  top:40px;
  /* box-shadow: 3px 4px red; */
  box-shadow: 5px 10px 8px #888888;
  
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
 }

 .name{
   font-weight: bold;
 }

.bet-card{
  text-align: center;
    border: white solid 2px;
    padding: 1rem;
    width: 50rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    /* box-shadow: 3px 4px black; */
    box-shadow: 5px 10px 18px black;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 17px;
    border-radius: 7px;
    justify-content: center;
    /* background-color: white; */
    background-image: url('./Untitled design.gif');
}
 .bet-info-div{
  /* position: relative; */
  /* left: 50%; */
  font-size: 15px;
  border: white solid 1px;
  width: 23rem;
  height: 8rem;
  text-align: center;
  
  /* top:-10%; */
  /* box-shadow: 3px 4px red; */
  box-shadow: 5px 10px 8px #888888;
  
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  background-color: white;
  
 }

 .bet-image-div{
  float: left;
  position:absolute; 
  top:915%;
  font-weight: bold;
  font-size: 16px;
  right:51%;
  
  
}

 .bet-status{
  font-weight: bold;
  font-size: 25px;
  top: -20%;
  background-color: white;

 }
   /* justify-content: center; */
   #logo{
    position:relative;
    /* top:px;  */
    width:235px; 
    height:235px
  }

  


  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 150px;
    cursor: pointer;
    /* opacity: 75%; */
  }
  
  .sidenav a {
    padding: 6px 8px 70px 16px;
    text-decoration: none;
    font-size: 23px;
    color: black;
    display: block;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    border-top: rgb(216, 214, 214) solid 1px;
  }
  
  .sidenav a:hover, a:focus {
    color: red;
    background-color:white;
    
  }
  
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .my-dash{
    font-weight: bolder;
    font-size: 45px;
  }

  .container .box {  
    width:600px; 
    margin:10px;  
    display:table;  
}  
.container .box .box-row {  
    display:table-row;  
   
}  
.container .box .box-cell {  
    display:table-cell;  
    width:30%;  
    /* padding:1px;   */
    /* border: black solid 1px; */
    border-bottom: red solid 2px;
    
}  
.container .box .box-cell.box1 {  
    background:white;  
    color:black;  
    text-align:justify; 
    font-weight: bolder;
    font-size: 18px;
    
}  
.container .box .box-cell.box2 {  
    background:white;  
    text-align:justify;
    font-size: 18px;
      

}  
.container .box .box-cell.box3 {  
    background:white;  
    text-align:justify;
    font-size: 18px;  
} 
.container .box .box-cell.box4 {  
  background:white;  
  text-align:justify;  
} 
.container{
  position: relative;
  left:650px;
  justify-content: center;
  /* position: center; */
}

.delete-button{
 background-color: transparent;
 color: red;
 font-weight: bolder;
 padding: 0;
border: none;
background: none;
cursor: pointer;
}

.delete-button:hover{
 border: black solid 1px;
}


.servings{
  /* border-bottom: 2px solid black; */
  width: 41%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid  rgb(238, 234, 234);
  text-align: center;
}

.food-name{
  font-weight: bold;
  font-size: 16px;
}

.form[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}

.number-form{

  
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  
}



.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.button:hover{
  background-color: red;
  cursor: pointer;
}

.button {
  background-color: white;
  /* border: none; */
  border: 1px solid #f44336;
  color: black;
  /* padding: 16px 32px; */
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  /* opacity: 0.9; */
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/* .button:hover {opacity: 1} */
.select {
  font-size: 20px;
  color: black;
  border: 1px solid red;
  /* font-family: Cursive; */
}

.food-dropdown{
  font-size: 15px;
  color: black;
  border: 1px solid red;
  height: 28px;
}

select:hover {
cursor: pointer;
border: 2px solid red;
}

.drop-down-button{
  border: none;
  /* border: 1px solid red; */
  cursor: pointer;
  color: red;
  background-color: transparent;
  font-weight: bold;
}

.drop-down-button:hover{
  color: red;
    border: 1px solid red;
  
}

body{
  height:1500px;
  /* background-image: url('./Untitled design (1).png'); */
  
}

.edit-button{
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: black;
  font-size: 12px;
  border: 1px solid black;
  padding: 0px 14px;
  border-radius: 5px;
}

.edit-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1{
  font-weight: bold;
}

h2{
  font-weight: bolder;
}