.app {
  justify-content: center;
  text-align: center;
    position: center;
    position: relative;
    height: 50px;
    
}

/* body{
  background-image: url('./frontend/frontend/public/Untitled design (1).png');
} */

/* .topnav {
  float: none;
  position: relative;
 
  left: 50%;
  transform: translate(-50%, -50%);

    display: none;
    overflow: hidden;
    
  }
  
  .nav-menu {
  
    float: center;
    color: black;
    text-align: center;
    padding: 10px 40px;
    width: 17%;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    border: black;
    cursor: pointer;
  }

  .active, .nav-menu:hover {
   
    border: red;
    
    color: red;
  }
  
  

  .nav-menu{
    
    background-color: transparent;
    
  } */

  ul {
    list-style-type: none; 
    
  }

  li {
    cursor: pointer;
    border-bottom: black;
  }

  li:hover {
    background-color:black;
    color: white;
  }

  .sign-up-h2:hover{
    color: red;
    cursor: pointer;
  }

  .sign-up-h2{
    color:black;
  }

  div.search-tile {
    justify-content: center;
    color: black;
    background-color: white;
    width: 365px;
    height: 210px;
    overflow: scroll;
    position: relative;
    left:-570px;
    float: right;
    border: black solid 2px;
  }

  .food-form{
    position: relative;
    float: left;
    left:585px;
    border: black solid 2px;
    /* box-shadow: 5px 10px 18px black; */
    width: 25rem;
    height: 14rem;
  }

  .food-log{
    height: 1000;
  }

  progress[value] {
    width: 250px;
    height: 20px;
    
  }

  .card{
    text-align: center;
    border: white solid 2px;
    padding: 1rem;
    width: 50rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    /* box-shadow: 3px 4px black; */
    box-shadow: 5px 10px 18px black;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 17px;
    border-radius: 7px;
    
    /* justify-self: center; */
  }
   .card-image{
     /* float: left; */
     /* top:495px;
     position:absolute; */
     border-radius: 7px;
   }

   .progress-bar{
    top:25px;
    position: relative;
    /* float: right; */
    left:90px;
   }

   .image-div{
      float: left;
      position:absolute; 
      /* top:295px; */
      font-weight: bold;
      font-size: 16px;
      right:1100px;
   }

   .calories-div{
    position: relative;
    left:275px;
    font-weight: bold;
    border: white solid 1px;
    width: 25rem;
    height: 8rem;
    text-align: center;
    top:40px;
    /* box-shadow: 3px 4px red; */
    box-shadow: 5px 10px 8px #888888;
    
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
   }

   /* justify-content: center; */
   #logo{
    position:relative;
    /* top:px;  */
    width:235px; 
    height:235px
  }

  progress::-webkit-progress-bar {
    background-color: yellow;
    border-radius: 7px;
  }


  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    cursor: pointer;
    /* opacity: 75%; */
  }
  
  .sidenav a {
    padding: 6px 8px 30px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidenav a:hover {
    color: black;
    background-color:white;
    
  }
  
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .my-dash{
    font-weight: bolder;
    font-size: 45px;
  }